@import url('https://fonts.googleapis.com/css2?family=Lora&family=Stick+No+Bills:wght@600&display=swap');

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/wave-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #d2643c;
  font-family: 'Stick No Bills', sans-serif;
  letter-spacing: 5px;
  font-size: 72px;
}

.btn {
  background-color: #d2643c;
  color: white;
  border: none;
  height: 75px;
  width: 100px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e48b6b;
}

.btn:active {
  background-color: #9c4322;
  color: #002233;
}

.fact {
  color: white;
  font-family: 'Lora', serif;
  max-width: 75%;
  text-align: center;
  min-height: 500px;
}